@use './../../styles/breakpoints.scss' as *;
@use './../../styles/variables' as *;

.timers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  min-height: 840px;
  padding: 80px 16px 113px;
  position: relative;
  top: 3px;

  @include tablet {
    padding: 100px 0 113px;
    min-height: 721px;
  }

  @include desktop {
    padding: 250px 0 29px;
    min-height: 846px;
  }

  &__title {
    min-width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 1px;
    color: $dark;

    @include tablet {
      letter-spacing: 1.5px;
      color: $dark;
      margin: 0 0 26px;
      position: relative;
      top: 5px;
    }

    @include desktop {
      position: relative;
      right: 6px;
      bottom: 5px;
    }
  }

  &__description {
    max-width: 570px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: $super-dark-gray;

    @include tablet {
      margin: auto;
    }

    @include desktop {
      position: relative;
      bottom: 8px;
      right: 7px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    border-radius: 12px;
    background-color: $white;
    padding: 40px 0 39px;
    margin-top: 42px;

    @include tablet {
      width: 770px;
      padding: 40px 0 5px;
      margin: auto;
      margin-top: 60px;
    }

    @include desktop {
      width: 770px;
      padding: 40px 0 0;
      margin-top: 125px;
      position: relative;
      bottom: 90px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include desktop {
      position: relative;
      right: 19px;
    }
  }

  @include desktop {
    &__bold {
      font-weight: 800;
    }
  }
}
