$font-stack:
  Nunito Sans,
  sans-serif;
$white: #fff;
$light-gray: #e7e8ea;
$dark: #282b31;
$dark-gray: #999ea8;
$dark-white: #f8f9fa;
$orange: #ff8e64;
$yellow: #ffe641;
$super-dark-gray: #676c75;
