@media screen and (min-width: 1200px) {
  .first__section {
    background: url('../../img/1.png');
    margin: 0;
    padding: 0;
  }
  .page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
    margin: auto;
    min-height: 40px;
    width: 1440px;
  }
  .header {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    min-width: 1170px;
    padding: 0 135px;

    padding: 0 16px;

    &__logo {
      font-size: 20px;
      font-weight: 800;
      line-height: 20px;
      cursor: pointer;
    }
    &__navigation {
      display: flex;
      align-items: center;
      gap: 31px;
    }
    &__links {
      gap: 31.3px;
      list-style: none;
      margin-left: auto;
      display: flex;
      flex-direction: row;
    }
    &__link {
      text-decoration: none;
      font-size: 15px;
      color: #fff;
    }

    &__action-button,
    & button {
      min-width: 132px;
      height: 40px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  nav {
    unicode-bidi: isolate;
  }
  ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }
  a:-webkit-any-link {
    cursor: pointer;
  }
  .button {
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    border-radius: 6px;
    border: none;
    font-family:
      Nunito Sans,
      sans-serif;
    &_white {
      background: #f8f9fa;
      color: #282b31;
    }
    &_white1 {
      background: #f8f9fa;
      color: #282b31;
      min-width: 144px;
    }
  }
  section {
    unicode-bidi: isolate;
  }

  .headline {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
    width: 1440px;
    height: 720px;

    &__description {
      max-width: 555px;
      height: 310px;
      position: relative;
      top: 230px;
      left: 135px;
      text-align: left;

      &_visible {
        display: inline;
        position: absolute;
        top: 137px;
        right: 175px;
      }
    }

    &__title {
      font-size: 35px;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 1px;
      color: #fff;
      margin: 10px 0 36px;
      text-align: left;
    }
    &__buttons {
      display: flex;
      gap: 20px;
      justify-content: left;
    }

    &__button {
      min-width: 167px;
      height: 50px;
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 1px;
      color: #fff;
      border-radius: 6px;
      border: none;
      font-family:
        Nunito Sans,
        sans-serif;
      background: linear-gradient(163deg, #ff8e64, #ffe641);
    }
  }
  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 12px;
  }
  .bold {
    font-weight: bold;
  }
  .second__section {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  .timers {
    padding: 250px 0 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    min-height: 840px;
    &__title {
      text-align: center;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #282b31;
    }
    &__description {
      max-width: 570px;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      color: #676c75;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      width: 770px;
      border-radius: 12px;
      background-color: #fff;
      padding: 40px 0 39px;
      margin-top: 42px;

      .timers__form {
        flex-direction: row;
        gap: 20px;
        width: auto;
        unicode-bidi: isolate;
        background-color: #fff;

        & input {
          width: 255px;
          height: 50px;
          font-size: 17px;
          border-radius: 6px;
          border: 1px solid #e7e8ea;
          background-color: #f8f9fa;
          padding: 2px 20px 0;
          margin-right: 20px;
          width: 305px;
        }
        .timers__submit-button {
          min-width: 165px !important;
          cursor: pointer;
        }
      }
      .timers__line {
        width: 100%;
        height: 1px;
        background-color: #e7e8ea;
      }

      .timers__list {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .timer {
          position: relative;
          display: flex;
          align-items: center;
          width: auto;
          gap: 20px;
          width: 466px;
          height: 50px;

          & button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: none;
          }
          &__title {
            font-size: 20px;
            font-weight: 800;
            color: #676c75;
            width: 130px;
            text-wrap: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
          }

          &__value {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 117px;
            height: 50px;
            border-radius: 6px;
            font-size: 17px;
            color: #676c75;
          }
          &__toggle-button {
            background-color: #fff;
            border-radius: 50%;
            position: relative;
            top: 9px;
            &-paused {
              background-color: #fff;
              padding-left: 4px;
            }
          }
          &__delete-button {
            background-color: #fff;
            border-radius: 6px;

            position: relative;
            top: 9px;
            left: 7px;
          }
        }
      }

      .button__decoration {
        min-width: 167px;
        height: 50px;
        font-size: 17px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 1px;
        color: #fff;
        border-radius: 6px;
        border: none;
        font-family:
          Nunito Sans,
          sans-serif;
        background: linear-gradient(163deg, #ff8e64, #ffe641);
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
    border-top: 1px solid #e7e8ea;
    background-color: #fff;
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      vertical-align: middle;
    }
    &__logo {
      font-size: 20px;
      font-weight: 800;
      color: #282b31;
    }
    &__terms {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      min-width: 186px;
      margin-left: 8px;
      & > span {
        font-size: 11px;
        color: #999ea8;
        text-align: center;
        position: relative;
        bottom: 3px;
        left: 25px;
      }
      & img {
        margin-bottom: -2px;
        position: relative;
        top: 5px;
        right: 5px;
      }
    }
    &__social-icons {
      display: flex;
      border: none;
      border-radius: 6px;
      list-style: none;
      overflow: hidden;
      margin-right: -1px;

      & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38.7px;
        height: 38px;
        border: 1px solid #e7e8ea;
        /* &li:last-child a {
          border-right: none;
        }*/
      }
    }
    li {
      display: list-item;
      unicode-bidi: isolate;
    }
    .image__border {
      width: 25px;
      height: 25px;
      margin-right: 5px;
      margin-top: 18px;
    }
  }
  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .move__span {
    position: relative;
    right: 20px;
  }
  .move__shift {
    position: relative;
    left: 3px;
  }
  .move__app {
    position: relative;
    left: 50px;
    text-align: center;
  }
  div {
    line-height: 1.5;
  }
}
