@import './index__desctop.scss';
@import './index__medium.scss';
@import './index__mobile.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family:
    Nunito Sans,
    sans-serif;
  color: #fff;
}
