@use './../styles/variables.scss' as *;
@use './../styles/breakpoints.scss' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  font-family: $font-stack;
  color: $white;
  overflow-x: hidden;
}

.first__section {
  background: url('../../img/background.png');
  margin: 0;
  padding: 0;
  background-size: cover;
}
.page {
  background-position: -120px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $dark-white;
  margin: 0 auto;
  width: 100vw;

  @include tablet {
    margin: auto;
  }

  @include desktop {
    overflow-y: hidden;
  }
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;

  font-weight: 200 1000;
  font-stretch: 100%;
  font-display: swap;

  src: url(https://fonts.gstatic.com/s/nunitosans/v19/pe0OMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t3NeCAAFOvV9SNjBw3uBZFI.woff2)
    format('woff2');
  unicode-range:
    U + 0460 -052F,
    U + 1C80 -1C8A,
    U + 20B4,
    U + 2DE0 -2DFF,
    U + A640-A69F,
    U + FE2E-FE2F;
}

.second__section {
  background-color: $dark-white;
  margin: 0;
  padding: 0;
}
