@import './../../styles/breakpoints.scss';
@import './../../styles/variables';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: $font-stack;
  color: $white;
}
@media (max-width: $breakpoint-md) {
  .page {
    background-position: -120px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $dark-white;
    margin: 0 auto;
  }
  .first__section {
    background: url('../../../img/background.png');
    margin: 0;
    padding: 0;
  }
  .header {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 40px;
    padding: 0 16px;

    &__logo {
      font-size: 20px;
      font-weight: 800;
      line-height: 20px;
      cursor: pointer;
    }

    &__navigation {
      display: flex;
      align-items: center;
      gap: 31px;
    }

    &__links {
      display: none;
      gap: 31.3px;
      list-style: none;
      margin-left: auto;
    }

    &__link {
      text-decoration: none;
      font-size: 15px;
      color: $white;
    }

    &__action-button,
    .header button {
      min-width: 132px;
      height: 40px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }
  a {
    background-color: transparent;
  }
  .button {
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    border-radius: 6px;
    border: none;
    font-family:
      Nunito Sans,
      sans-serif;
    background: linear-gradient(163deg, $orange, $yellow);

    &_white {
      background: $dark-white;
      color: $dark;
    }
    &_white1 {
      background: $dark-white;
      color: $dark;
      min-width: 144px;
    }
  }

  nav {
    unicode-bidi: isolate;
  }
}
@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  .first__section {
    background: url('../../../img/background.png');
    margin: 0;
    padding: 0;
  }
  .page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $dark-white;
    margin: auto;
  }
  .header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 40px;
    padding: 0 16px;

    &__logo {
      font-size: 20px;
      font-weight: 800;
      line-height: 20px;
      cursor: pointer;
    }
    &__navigation {
      display: flex;
      align-items: center;
      gap: 31px;
    }
    &__links {
      gap: 31.3px;
      list-style: none;
      margin-left: auto;
      display: flex;
      flex-direction: row;
    }
    &__link {
      text-decoration: none;
      font-size: 15px;
      color: $white;
    }

    &__action-button,
    & button {
      min-width: 132px;
      height: 40px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  nav {
    unicode-bidi: isolate;
  }
  ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }
  a:-webkit-any-link {
    cursor: pointer;
  }
  .button {
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    border-radius: 6px;
    border: none;
    font-family: $font-stack;
    &_white {
      background: $dark-white;
      color: $dark;
    }
    &_white1 {
      background: $dark-white;
      color: $dark;
      min-width: 144px;
    }
  }
  section {
    unicode-bidi: isolate;
  }
  section {
    unicode-bidi: isolate;
  }
}
@media screen and (min-width: $breakpoint-xl) {
  .first__section {
    background: url('../../../img/background.png');
    margin: 0;
    padding: 0;
  }
  .page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $dark-white;
    margin: auto;
    min-height: 40px;
    width: 1440px;
  }
  .header {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    min-width: 1170px;
    padding: 0 135px;

    padding: 0 16px;

    &__logo {
      font-size: 20px;
      font-weight: 800;
      line-height: 20px;
      cursor: pointer;
    }
    &__navigation {
      display: flex;
      align-items: center;
      gap: 31px;
    }
    &__links {
      gap: 31.3px;
      list-style: none;
      margin-left: auto;
      display: flex;
      flex-direction: row;
    }
    &__link {
      text-decoration: none;
      font-size: 15px;
      color: $white;
    }

    &__action-button,
    & button {
      min-width: 132px;
      height: 40px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  nav {
    unicode-bidi: isolate;
  }
  ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }
  a:-webkit-any-link {
    cursor: pointer;
  }
  .button {
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    border-radius: 6px;
    border: none;
    font-family: $font-stack;
    &_white {
      background: $dark-white;
      color: $dark;
    }
    &_white1 {
      background: $dark-white;
      color: $dark;
      min-width: 144px;
    }
  }
  section {
    unicode-bidi: isolate;
  }
}
