@use './../../styles/breakpoints.scss' as *;
@use './../../styles/variables' as *;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  border-top: 1px solid $light-gray;
  background-color: $white;

  @include desktop {
    height: 105px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    @include desktop {
      vertical-align: middle;
      height: 110px;
      width: 100%;
      position: relative;
      top: 4px;
      right: 10px;
    }
  }

  &__logo {
    font-size: 20px;
    font-weight: 800;
    color: $dark;
    cursor: pointer;

    @include desktop {
      position: relative;
      left: 363px;
      bottom: 3px;
    }
  }

  &__terms {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 186px;
    margin-right: 30px;

    @include tablet {
      display: flex;

      & > span {
        font-size: 11px;
        color: $dark-gray;
        text-align: center;
        position: relative;
        bottom: 3px;
        left: 25px;
      }
      & img {
        margin-bottom: -2px;
        position: relative;
        top: 5px;
        right: 5px;
      }
    }

    @include desktop {
      display: flex;
      margin-top: 3px;

      & > span {
        font-size: 11px;
        color: $dark-gray;
        text-align: center;
        position: relative;
        bottom: 4px;
        left: 24px;
      }

      & img {
        margin-bottom: -2px;
        position: relative;
        top: 5px;
        left: 3px;
      }
    }
  }

  &__social-icons {
    display: flex;
    border: 1px solid $light-gray;
    border-radius: 6px;
    list-style: none;
    overflow: hidden;
    margin-right: -1px;
    padding-inline-start: 0;

    @include desktop {
      margin-left: 0px;
      position: relative;
      right: 356px;
      bottom: 3px;
    }

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38.7px;
      height: 38px;
      border-left: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
      position: relative;
      bottom: 2px;
    }
  }

  li {
    display: list-item;
    unicode-bidi: isolate;
  }

  .image__border {
    margin: 0;
    position: relative;
    top: 2px;
  }
}

@include tablet {
  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .move-span {
    position: relative;
    right: 20px;
  }

  .move-shift {
    position: relative;
    left: 3px;
  }

  .move-app {
    position: relative;
    left: 50px;
    text-align: center;
    bottom: 3px;
  }

  div {
    line-height: 1.5;
  }
}

@include desktop {
  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .move-span {
    position: relative;
    right: 12px;
  }

  .move-shift {
    position: relative;
    left: 3px;
  }

  .move-app {
    position: relative;
    left: 48px;
    text-align: center;
    margin-bottom: 6px;
    margin-right: 5px;
  }

  div {
    line-height: 1.5;
  }

  .bold-footer {
    font-weight: bold;
    position: relative;
    left: 3px;
    top: 1px;
  }
}
