@import './../../styles/breakpoints.scss';
@import './../../styles/variables';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: $font-stack;
  color: $white;
  overflow-x: hidden;
}
@media (max-width: $breakpoint-md) {
  .headline {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;

    &__content {
      padding: 140px 16px 100px;
    }
    &__description {
      text-align: center;

      &_visible {
        display: none;
      }
    }
    &__title {
      font-size: 35px;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 1px;
      color: $white;
      margin: 10px 0 36px;
    }
    &__buttons {
      justify-content: center;
      display: flex;
      gap: 20px;
    }
    &__button {
      min-width: 167px;
      height: 50px;
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 1px;
      color: $white;
      border-radius: 6px;
      border: none;
      font-family:
        Nunito Sans,
        sans-serif;
      background: linear-gradient(163deg, $orange, $yellow);
      cursor: pointer;
    }
  }

  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    background-color: $white;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 12px;
  }
  .bold {
    font-weight: bold;
  }
  .second__section {
    background-color: $dark-white;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  .headline {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;

    &__content {
      padding: 140px 16px 100px;
    }
    &__description {
      text-align: center;
      max-width: 555px;
      margin: auto;

      &_visible {
        display: none;
      }
    }
    &__title {
      font-size: 35px;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 1px;
      color: $white;
      margin: 10px 0 36px;
      text-align: center;
    }
    &__buttons {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
    &_decoration {
      display: none;
      position: absolute;
      top: 137px;
      right: 179px;
      &_visible {
        display: none;
      }
    }
    &__button {
      min-width: 167px;
      height: 50px;
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 1px;
      color: $white;
      border-radius: 6px;
      border: none;
      font-family: $font-stack;
      background: linear-gradient(163deg, $orange, $yellow);
      cursor: pointer;
    }
  }
  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    background-color: $white;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 12px;
  }
  .bold {
    font-weight: bold;
  }
  .second__section {
    background-color: $dark-white;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: $breakpoint-xl) {
  .headline {
    display: flex;
    justify-content: center;

    background-size: cover;

    min-height: 720px;
    min-width: 1440px;
    &__content {
      position: relative;
      width: 1140px;
      margin: 0 auto;
      text-align: left;
    }
    &__description {
      max-width: 700px;
      height: 310px;
      position: relative;
      top: 230px;
      right: 20px;
      text-align: left;
      flex: 1;

      &_visible {
        display: inline;
        position: absolute;
        top: 133px;
        right: 20px;
        border-radius: 60px;
        background: none;
        //border-style: solid;
        // border-color: $white;
        //border-width: 0px;
        flex: 1;

        height: auto;
      }
    }
    &__logo {
      border-radius: 20px;
      border-right: 2px solid $white;
      border-left: 2px solid $white;
      position: relative;
      right: 2px;
    }
    &__title {
      font-size: 33px;
      font-weight: 300;
      line-height: 38px;
      letter-spacing: 2px;
      color: $white;
      margin: 10px 0 90px;
      //position: relative;
      margin-top: 2px;
      margin-left: 2px;
      text-align: left;
      min-width: 555px;
    }
    &__buttons {
      display: flex;
      gap: 20px;
      justify-content: left;
      position: relative;
      bottom: 40px;
    }

    &__button {
      min-width: 167px;
      height: 50px;
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 1px;
      color: $white;
      border-radius: 6px;
      border: none;
      font-family: $font-stack;
      background: linear-gradient(163deg, $orange, $yellow);
      cursor: pointer;
      position: relative;
      top: 3px;
    }
  }
  .white__space {
    white-space: pre-wrap;
    font-weight: 250;
    letter-spacing: 2px;
    position: relative;
    top: 12px;
    right: 2px;
  }
  .second-line {
    display: inline-block;
    margin-top: 13px;
    font-weight: 220;
    letter-spacing: 2.1px;
    position: relative;
    right: 3px;
    top: 11px;
  }

  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    background-color: $white;
    padding: 5px 3.5px;

    margin-bottom: 20px;
    margin-right: 12px;
  }
  .bold {
    font-weight: bold;
    letter-spacing: 2.3px;
    position: relative;
    top: 12px;
    right: 2px;
  }
  .second__section {
    background-color: $dark-white;
    margin: 0;
    padding: 0;
    //display: flex;
    //justify-content: center;
    //margin-bottom: 20px;
    //min-height: 100vh;
    // flex: 1;
  }
}
