@use './../../styles/breakpoints.scss' as *;
@use './../../styles/variables' as *;

.headline {
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;

  @include desctop {
    min-height: 720px;
    min-width: 1440px;
  }

  &__content {
    padding: 140px 16px 100px;

    @include desctop {
      padding: 0;
      &__content {
        position: relative;
        width: 1140px;
        margin: 0 auto;
        text-align: left;
      }
    }
  }

  &__description {
    text-align: center;

    @include tablet {
      max-width: 555px;
      margin: auto;
    }

    @include desctop {
      max-width: 700px;
      height: 310px;
      position: relative;
      top: 230px;
      right: 240px;
      text-align: left;
      flex: 1;
    }

    &_visible {
      display: none;

      @include desctop {
        display: inline;
        position: absolute;
        top: 133px;
        right: 220px;
        border-radius: 60px;
        background: none;
        flex: 1;
        height: auto;
      }
    }
  }

  &__title {
    font-size: 35px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 1px;
    color: $white;
    margin: 10px 0 36px;

    @include tablet {
      text-align: center;
    }

    @include desctop {
      font-size: 33px;
      line-height: 38px;
      letter-spacing: 2px;
      margin-top: 2px;
      margin-left: 2px;
      margin-bottom: 90px;
      text-align: left;
      min-width: 555px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include desctop {
      justify-content: left;
      position: relative;
      bottom: 40px;
      right: 2px;
    }
  }

  &__button {
    min-width: 167px;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    color: $white;
    border-radius: 6px;
    border: none;
    font-family: $font-stack;
    background: linear-gradient(163deg, $orange, $yellow);
    cursor: pointer;

    @include desctop {
      position: relative;
      top: 3px;
    }
  }
}

.content {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  background-color: $white;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 12px;

  @include desctop {
    padding: 5px 3.5px;
    border-radius: 0px;
  }
}

.bold {
  font-weight: bold;

  @include desctop {
    letter-spacing: 2.3px;
    position: relative;
    top: 12px;
    right: 2px;
  }
}
@include desctop {
  .headline__logo {
    border-radius: 20px;
    border-right: 2px solid $white;
    border-left: 2px solid $white;
    position: relative;
    right: 2px;
  }

  .first-line {
    white-space: pre-wrap;
    font-weight: 250;
    letter-spacing: 2px;
    position: relative;
    top: 12px;
    right: 2px;
  }
  .second-line {
    display: inline-block;
    margin-top: 13px;
    font-weight: 220;
    letter-spacing: 2.1px;
    position: relative;
    right: 3px;
    top: 11px;
  }
}
