@import './../../styles/breakpoints.scss';
@import './../../styles/variables';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: $font-stack;
  color: $white;
}
@media (max-width: $breakpoint-md) {
  .headline {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;

    &__content {
      padding: 140px 16px 100px;
    }
    &__description {
      text-align: center;

      &_visible {
        display: none;
      }
    }
    &__title {
      font-size: 35px;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 1px;
      color: $white;
      margin: 10px 0 36px;
    }
    &__buttons {
      justify-content: center;
      display: flex;
      gap: 20px;
    }
    &__button {
      min-width: 167px;
      height: 50px;
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 1px;
      color: $white;
      border-radius: 6px;
      border: none;
      font-family:
        Nunito Sans,
        sans-serif;
      background: linear-gradient(163deg, $orange, $yellow);
      cursor: pointer;
    }
  }

  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    background-color: $white;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 12px;
  }
  .bold {
    font-weight: bold;
  }
  .second__section {
    background-color: $dark-white;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  .headline {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;

    &__content {
      padding: 140px 16px 100px;
    }
    &__description {
      text-align: center;
      max-width: 555px;
      margin: auto;

      &_visible {
        display: none;
      }
    }
    &__title {
      font-size: 35px;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 1px;
      color: $white;
      margin: 10px 0 36px;
      text-align: center;
    }
    &__buttons {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
    &_decoration {
      display: none;
      position: absolute;
      top: 137px;
      right: 179px;
      &_visible {
        display: none;
      }
    }
    &__button {
      min-width: 167px;
      height: 50px;
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 1px;
      color: $white;
      border-radius: 6px;
      border: none;
      font-family: $font-stack;
      background: linear-gradient(163deg, $orange, $yellow);
      cursor: pointer;
    }
  }
  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    background-color: $white;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 12px;
  }
  .bold {
    font-weight: bold;
  }
  .second__section {
    background-color: $dark-white;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: $breakpoint-xl) {
  .headline {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
    width: 100vw;
    height: 720px;

    &__description {
      max-width: 555px;
      height: 310px;
      position: relative;
      top: 230px;
      left: 135px;
      text-align: left;

      &_visible {
        display: inline;
        position: absolute;
        top: 137px;
        right: 175px;
      }
    }

    &__title {
      font-size: 35px;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 1px;
      color: $white;
      margin: 10px 0 36px;
      text-align: left;
    }
    &__buttons {
      display: flex;
      gap: 20px;
      justify-content: left;
    }

    &__button {
      min-width: 167px;
      height: 50px;
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 1px;
      color: $white;
      border-radius: 6px;
      border: none;
      font-family: $font-stack;
      background: linear-gradient(163deg, $orange, $yellow);
      cursor: pointer;
    }
  }
  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    background-color: $white;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 12px;
  }
  .bold {
    font-weight: bold;
  }
  .second__section {
    background-color: $dark-white;
    margin: 0;
    padding: 0;
  }
}
