@media (max-width: 768px) {
  .page {
    background-position: -120px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
    margin: 0 auto;
  }
  .first__section {
    background: url('../img/1.png');
    margin: 0;
    padding: 0;
  }
  .header {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 40px;
    padding: 0 16px;

    &__logo {
      font-size: 20px;
      font-weight: 800;
      line-height: 20px;
      cursor: pointer;
    }

    &__navigation {
      display: flex;
      align-items: center;
      gap: 31px;
    }

    &__links {
      display: none;
      gap: 31.3px;
      list-style: none;
      margin-left: auto;
    }

    &__link {
      text-decoration: none;
      font-size: 15px;
      color: #fff;
    }

    &__action-button,
    .header button {
      min-width: 132px;
      height: 40px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }
  a {
    background-color: transparent;
  }
  .button {
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    border-radius: 6px;
    border: none;
    font-family: Nunito Sans, sans-serif;
    background: linear-gradient(163deg, #ff8e64, #ffe641);

    &_white {
      background: #f8f9fa;
      color: #282b31;
    }
    &_white1 {
      background: #f8f9fa;
      color: #282b31;
      min-width: 144px;
    }
  }

  nav {
    unicode-bidi: isolate;
  }
  .headline {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;

    &__content {
      padding: 140px 16px 100px;
    }
    &__description {
      text-align: center;

      &_visible {
        display: none;
      }
    }
    &__title {
      font-size: 35px;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 1px;
      color: #fff;
      margin: 10px 0 36px;
    }
    &__buttons {
      justify-content: center;
      display: flex;
      gap: 20px;
    }
    &__button {
      min-width: 167px;
      height: 50px;
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 1px;
      color: #fff;
      border-radius: 6px;
      border: none;
      font-family: Nunito Sans, sans-serif;
      background: linear-gradient(163deg, #ff8e64, #ffe641);
    }
  }

  .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 12px;
  }
  .bold {
    font-weight: bold;
  }
  .second__section {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  .timers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    min-height: 840px;
    padding: 80px 16px 113px;
    &__title {
      min-width: 100%;
      text-align: center;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #282b31;
    }
    &__description {
      max-width: 570px;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      color: #676c75;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      width: 100%;
      border-radius: 12px;
      background-color: #fff;
      padding: 40px 0 39px;
      margin-top: 42px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      padding: 0 16px;
    }
    &__form input {
      width: 100%;
      height: 50px;
      font-size: 17px;
      border-radius: 6px;
      border: 1px solid #e7e8ea;
      background-color: #f8f9fa;
      padding: 2px 20px 0;
    }
    &__submit-button {
      min-width: 165px !important;
      cursor: pointer;
    }
    &__line {
      width: 100%;
      height: 1px;
      background-color: #e7e8ea;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
  form {
    unicode-bidi: isolate;
    background-color: #fff;
  }
  .button1 {
    min-width: 167px;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 6px;
    border: none;
    font-family: Nunito Sans, sans-serif;
    background: linear-gradient(163deg, #ff8e64, #ffe641);
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
    border-top: 1px solid #e7e8ea;
    background-color: #fff;
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
    }
    &__logo {
      font-size: 20px;
      font-weight: 800;
      color: #282b31;
    }
    &__terms {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      min-width: 186px;
      margin-left: 8px;
    }
    &__social-icons {
      display: flex;
      border: none;
      border-radius: 6px;
      list-style: none;
      overflow: hidden;
      margin-right: -1px;

      & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38.7px;
        height: 38px;
        border: 1px solid #e7e8ea;
        /* &li:last-child a {
          border-right: none;
        }*/
      }
    }
    li {
      display: list-item;
      unicode-bidi: isolate;
    }
    .image__border {
      width: 25px;
      height: 25px;
      margin-right: 5px;
      margin-top: 18px;
    }
    .timer {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
      width: 100%;
      height: 50px;
      &__title {
        font-size: 20px;
        font-weight: 800;
        color: #5586f2;
        width: 130px;
        text-wrap: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      &__value {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 117px;
        height: 50px;
        border-radius: 6px;
        font-size: 17px;
        color: #676c75;
        margin: 0 4px;
      }
      &__toggle-button {
        background: linear-gradient(135deg, #7956ec, #2fb9f8);
        border-radius: 50%;
      }
      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
      }
      &__delete-button {
        background: linear-gradient(135deg, #f23673, #fca069);
        border-radius: 6px;
      }
    }
  }
}
